In [2]:
import pandas as pd

In [3]:
movies_data = pd.read_csv("complete_movie_data.csv")
#movies_data.head()

In [4]:
# Cheking the data types
movies_data.dtypes

Movie Title          object
IMDb ID              object
Movie Runtime        object
Movie Genre          object
Domestic Gross       object
Movie Director       object
Actors               object
IMDB Rating          object
RT Rating            object
Metacritic Rating    object
IMDB Vote Count      object
dtype: object

In [5]:
# Checking for missing values
movies_data.isna().sum()

Movie Title            0
IMDb ID                0
Movie Runtime          0
Movie Genre            0
Domestic Gross       110
Movie Director         0
Actors                 0
IMDB Rating            1
RT Rating             32
Metacritic Rating    104
IMDB Vote Count        1
dtype: int64

In [6]:
# Removing min from Movie Runtime column and changing type to int
movies_data["Movie Runtime"] = movies_data["Movie Runtime"].str.split(" ").str[0].astype(int)
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy","$785,221,649",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9/10,81%,83/100,"1,416,018"
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama","$858,373,000","Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4/10,94%,78/100,"1,328,385"
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy","$684,075,767",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5/10,76%,67/100,"524,426"
3,Titanic,tt0120338,194,"Drama, Romance","$674,292,608",James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9/10,88%,75/100,"1,322,762"
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi","$936,662,225",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8/10,93%,80/100,"989,068"

In [7]:
# Removing $ and , from Domestic Gross and Changing type to int
movies_data["Domestic Gross"] = movies_data["Domestic Gross"].str.replace("$","")
movies_data["Domestic Gross"] = movies_data["Domestic Gross"].str.replace(",","")
movies_data["Domestic Gross"] = pd.to_numeric(movies_data["Domestic Gross"], errors='coerce').astype("Int64") 
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy",785221649,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9/10,81%,83/100,"1,416,018"
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama",858373000,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4/10,94%,78/100,"1,328,385"
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy",684075767,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5/10,76%,67/100,"524,426"
3,Titanic,tt0120338,194,"Drama, Romance",674292608,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9/10,88%,75/100,"1,322,762"
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi",936662225,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8/10,93%,80/100,"989,068"

In [8]:
# Changing IMDB rating
movies_data["IMDB Rating"] = movies_data["IMDB Rating"].str.split("/").str[0]
movies_data["IMDB Rating"] = pd.to_numeric(movies_data["IMDB Rating"], errors="coerce")
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy",785221649,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9,81%,83/100,"1,416,018"
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama",858373000,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4,94%,78/100,"1,328,385"
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy",684075767,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5,76%,67/100,"524,426"
3,Titanic,tt0120338,194,"Drama, Romance",674292608,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9,88%,75/100,"1,322,762"
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi",936662225,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8,93%,80/100,"989,068"

In [9]:
# Changing RT Rating
movies_data["RT Rating"] = movies_data["RT Rating"].str.replace("%","")
movies_data["RT Rating"] = pd.to_numeric(movies_data["RT Rating"], errors="coerce").astype("Int64")
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy",785221649,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9,81,83/100,"1,416,018"
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama",858373000,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4,94,78/100,"1,328,385"
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy",684075767,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5,76,67/100,"524,426"
3,Titanic,tt0120338,194,"Drama, Romance",674292608,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9,88,75/100,"1,322,762"
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi",936662225,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8,93,80/100,"989,068"

In [10]:
# Changing Metacritic rating
movies_data["Metacritic Rating"] = movies_data["Metacritic Rating"].str.split("/").str[0]
movies_data["Metacritic Rating"] = pd.to_numeric(movies_data["Metacritic Rating"], errors="coerce").astype("Int64")
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy",785221649,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9,81,83,"1,416,018"
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama",858373000,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4,94,78,"1,328,385"
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy",684075767,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5,76,67,"524,426"
3,Titanic,tt0120338,194,"Drama, Romance",674292608,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9,88,75,"1,322,762"
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi",936662225,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8,93,80,"989,068"

In [11]:
#Changing IMDb Vote count
movies_data["IMDB Vote Count"] = movies_data["IMDB Vote Count"].str.replace(",","")
movies_data["IMDB Vote Count"] = pd.to_numeric(movies_data["IMDB Vote Count"], errors='coerce').astype("Int64")
movies_data.head()

,Movie Title,IMDb ID,Movie Runtime,Movie Genre,Domestic Gross,Movie Director,Actors,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
0,Avatar,tt0499549,162,"Action, Adventure, Fantasy",785221649,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.9,81,83,1416018
1,Avengers: Endgame,tt4154796,181,"Action, Adventure, Drama",858373000,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",8.4,94,78,1328385
2,Avatar: The Way of Water,tt1630029,192,"Action, Adventure, Fantasy",684075767,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",7.5,76,67,524426
3,Titanic,tt0120338,194,"Drama, Romance",674292608,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",7.9,88,75,1322762
4,Star Wars: Episode VII - The Force Awakens,tt2488496,138,"Action, Adventure, Sci-Fi",936662225,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",7.8,93,80,989068

In [12]:
movies_data.dtypes

Movie Title           object
IMDb ID               object
Movie Runtime          int32
Movie Genre           object
Domestic Gross         Int64
Movie Director        object
Actors                object
IMDB Rating          float64
RT Rating              Int64
Metacritic Rating      Int64
IMDB Vote Count        Int64
dtype: object

In [13]:
# IMDb ID, Movie Runtime, Domestic Gross, IMDB Rating, RT Rating, Metacritic Rating, IMDB Vote count should be transformed to int type

In [14]:
# Movie genre and Movie actors should be put into seperate columns

In [13]:
movies_data.shape

(1664, 11)

In [14]:
(movies_data.isnull().sum() / len(movies_data)) * 100

Movie Title          0.000000
IMDb ID              0.000000
Movie Runtime        0.000000
Movie Genre          0.000000
Domestic Gross       6.610577
Movie Director       0.000000
Actors               0.000000
IMDB Rating          0.120192
RT Rating            3.545673
Metacritic Rating    6.250000
IMDB Vote Count      0.060096
dtype: float64

In [15]:
movies_data[["Movie Runtime","Domestic Gross","IMDB Rating","RT Rating","Metacritic Rating","IMDB Vote Count"]].describe()

,Movie Runtime,Domestic Gross,IMDB Rating,RT Rating,Metacritic Rating,IMDB Vote Count
count,1664.000000,1554.0,1662.000000,1605.0,1560.0,1663.0
mean,118.509615,119155434.69112,6.996390,69.053583,63.154487,325423.019844
std,25.162298,114488400.303375,0.888619,23.68522,16.778062,325437.971235
min,64.000000,6752.0,1.900000,0.0,12.0,137.0
25%,101.000000,41262667.75,6.400000,53.0,51.0,128181.0
50%,115.500000,95855480.0,7.000000,75.0,63.0,211413.0
75%,132.000000,158291140.25,7.700000,89.0,75.0,405149.0
max,321.000000,936662225.0,9.200000,100.0,100.0,2974670.0

In [16]:
# Checking for missing values
movies_data.isna().sum()

Movie Title            0
IMDb ID                0
Movie Runtime          0
Movie Genre            0
Domestic Gross       110
Movie Director         0
Actors                 0
IMDB Rating            2
RT Rating             59
Metacritic Rating    104
IMDB Vote Count        1
dtype: int64